*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 20px;
}

img{
    width: 75%;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

video{
    width: 75%;
}

p{
    text-align: justify;
    white-space: break-spaces;
    line-height: 150%;
}

h2{
    text-transform: uppercase;
    white-space: break-spaces;
}

div a{
    display: inline-block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

div a:hover{
    border-radius: 5px;
    background-color: #00b4d8;
    color: black;
    box-shadow: 5px 5px 25px #00b4d8; 
}

header{
    background: #ca6702;
    width: 100%;
    padding: 20px 0px;
}

header #bnt-regresar{
    background-color: #fefae0;
    margin: 25px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

header #bnt-regresar:hover{
    color: white;
    background-color: black;
    border: 2px solid white;
    box-shadow: 5px 5px 25px black; 
}

header h1 a{
    color: black;
    float: left;
    width: 74%;
    text-align: center;
    margin: 0px auto;
    text-decoration: none;
}

header h1 a:hover{
    color: #fefae0;
}

header audio{
    width: 25%; 
}

.main{
    background: #bd4b17;
    padding: 10px;
}

.main div{
    background: white;
    transition: box-shadow 0.3s ease;
    background-color: #fefae0;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 15px auto;
    padding: 25px;
    font-size: 100%;
    width: 50%;
    margin: 15px auto;
    text-align: center;
}

.main div:hover{
    box-shadow: 5px 5px 25px black;    
}

.main div ul{
    list-style: none;
}

.main .tarjetas div{
    background: white;
    transition: box-shadow 0.3s ease;
    background-color: #fefae0;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 15px auto;
    padding: 25px;
}

.main .tutorial div{
    background: white;
    transition: box-shadow 0.3s ease;
    background-color: #fefae0;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 15px auto;
    padding: 25px;
}

.main .marcas div{
    background: white;
    transition: box-shadow 0.3s ease;
    background-color: #fefae0;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: auto;
    padding: 25px;
}

.main .marcas div table{
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

.main .marcas div table td{
    background: white;
    border: 5px solid black;
    padding: 0;
    margin: 0;
}

.main .marcas div table td a{
    text-decoration: none;
    font-size: .8rem;
    color: black;
    text-align: center;
}

.main .marcas div table td:hover, .main .marcas div table td a:hover{
    background: black;
    color: white;
}

footer{
    background: black;
    padding: 20px 0px;
    color: white;
    font-size: 150%;
}

footer p{
    text-align: center;
}